[simulation_params]
custom_load:                False
custom_load_path:           models/trained/Indoor/indoor_cloud/Imagenet/EfficientNet_20250926_pos_2_250k/e2e/drone0/checkpoints/ckpt-4
distributed_algo:           GlobalLearningGlobalUpdate-MA

[RL_params]
input_size:                 224
num_actions:                25
base_model_trainable:       True
# if base_model_trainable, train_type does't matter
train_type:                 e2e
wait_before_train:          20000
max_iters:                  400000
buffer_len:                 10000
batch_size:                 64
epsilon_saturation:         100000
crash_thresh:               1.3
Q_clip:                     False
train_interval:             2
update_target_interval:     8000
gamma:                      0.99
dropout_rate:               0.1
learning_rate:              2e-6
switch_env_steps:           5000
epsilon_model:              exponential
# model_name:                 MobileNetV1
model_name:                 MobileNetV3
# model_name:                 EfficientNet
pretrained:                 imagenet
drone_speed:                0.4
ue_restart_interval:        10001
ue_restart_enabled:         False

[Initial_positions]
x_offset:                   0
y_offset:                   0
yaw_offset:                 0
z_val:                      -4.8
;[distributed_RL params]
;communication_interval:     100
;average_connectivity:       2
;custom_load_path:           models/trained/Indoor/indoor_cloud/Imagenet/EfficientNet_002/e2e/drone0/checkpoints/ckpt-1